<div class="panel panel-primary">
    <div class="panel-heading">
       
    </div>
    <!--<button (click)="createItem()" class="btn btn-info" style="margin-right:10px">addItem</button>-->
   
    <div class="panel-body">
        <table class="table table-striped" border='9'>
            <thead>
                <tr>
                    <!-- <th>Id</th> -->
                    <th>ShopName</th>
                    <th>address</th>
                    <!-- <th>StatusId</th> -->
                    <!-- <th>Sold Items</th>
                    <th>Item Category</th> -->
                </tr>
            </thead>
             <tbody>
                <tr *ngFor="let shop of shops | async">
                    <!-- <td>{{item.id}}</td> -->
                    <td>{{shop.name}}</td>
                    <td>{{shop.address}}</td>
                    <td>
                    <!-- <button (click)="itemDetails(item.id)" class="btn btn-info" style="margin-left: 10px">details</button>
                    <button (click)="updateItem(item.id)" class="btn btn-info" style="margin-left: 10px">update</button>
                    <button (click)="deleteItem(item.id)" class="btn btn-danger">delete</button>
                     -->
                    </td>
                </tr>
            </tbody> 
        </table>
    </div>
</div>
